body {
    background-image: url("../../assets/images/187531420.jpg");
    background-repeat: repeat;
    background-color: aquamarine;
    text-align: left;
    line-height: 1.5;
    color: #333;
    margin: 13px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

div {
    /* border: solid; */
    margin: 6px;
}

.button {
    background-color: rgb(172, 204, 173);
    border: none;
    color: white;
    padding: 15px 15px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 1px;
}

/* crystals collector header */
#div1 {
    background-color: #c97125;
    text-align: center;
    padding: 10px 0;
    color: #fff;
}

/* game directions */
#div2 {
    background-color: #fbe6cd;
    text-align: left;
    color: #4bac6b;
}

/* target number */
#div3 {
    background-color: #5bc880;
    height: 107px;
}

/* wins and losses */
#div4 {
    background-color: #4afdf9;
    height: 107px;
}

/* crystal buttons live here */
#div5 {
    /* background-color: #fff; */
    margin: 0px;
}

/* "You current score" */
#div6 {
    background-color: #2ba294;
    color: #fff;
    padding: 10px 0 0 10px;
}

/* current score */
#div7 {
    background-color: #2ba294;
    color: #fff;
    height: 107px;
}