body {
    background-image: url("../../assets/images/colorful_tessellation_by_theshadowrider123-d4j7sat.jpg");
    background-repeat: repeat;
    background-color: aquamarine;
    text-align: center;
    line-height: 1.5;
    color: #333;
    margin: 15px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

/* div {
    border: solid;
} */

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#div1 {
    background-color: #c97125;
    padding: 10px 0;
}

#div2 {
    background-color: #fbe6cd;
    text-align: left;
}

#div3 {
    background-color: #5bc880;
}

#div4 {
    background-color: #4afdf9;
}

#div5 {
    background-color: #fff;
}

#div6 {
    background-color: #2ba294;
}

#div7 {
    background-color: #2ba294;
}